include ../data/modals

mixin renderModal(modal)
    div(class="modal " + modal.id)
        .modal__overlay
        .modal__content
            .modal__close
                span
            div.modal__slider
                .swiper
                    .swiper-wrapper
                        for i in modal.projects
                            .modal__slide.swiper-slide
                                h2.modal__title.subtitle=i.project
                                .modal__info.modal__info_multi
                                    .modal__block.skew-border
                                        h3.subtitle Команда:
                                        p=i.team
                                    .modal__block.skew-border
                                        h3.subtitle Роль:
                                        p=i.role
                                    .modal__block.skew-border
                                        h3.subtitle Стек:
                                        p=i.stack.join(', ')
                                .modal__info
                                    .modal__block.skew-border
                                        h3.subtitle Описание:
                                        p=i.description
                    button.swiper-button-prev
                    button.swiper-button-next

for i in modalsData
    +renderModal(i)
